.container {
    text-align: center;
    padding:2rem;
    font-family: cursive;
}

.container img {
    height:20rem;
    width: 20rem;
}

.container a{
    color:black;
    text-decoration: underline;
    font-weight: bold;
}